<% if (title) { %>
<h1 class="title-h1"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (accountData && (accountData.account_type === "Employee" || accountData.account_type === "Admin")) { %>

    <section class="management-container">
        <ul class="management-link-list">
            <li><a href="/inv/newClassification/">Add new Classification</a></li>
            <li><a href="/inv/newVehicle">Add new Vehicle</a></li>
        </ul>
    </section>

    <section class="inventory-management-select-container">
        <h2><strong>Manage Inventory</strong></h2>
        <p>Select some Classification</p>
        <%- classificationSelect %>
        <div class="inventory-classification-table-container">
            <table id="inventoryDisplay"></table>
            <noscript>JavaScript must be enabled to use this page.</noscript>
        </div>
    </section>

    <div class="update-infos-container">
        <p>
            <a href="/account/update/<%= accountData.account_id %>" class="update-infos">Update Account informations</a>
        </p>
    </div>

<% } else { %>

    <div class="update-infos-container">
        <a href="/account/update/<%= accountData.account_id %>" class="update-infos">Update Account informations</a>
    </div>  

<% } %>

<script src="/js/inventory.js"></script>