<% if (title) { %>
<h1 class="title-h1" ><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
    
    <section class="section-form">
        <form id="form-register" class="form-container" action="/account/register" method="post">
            <label class="label-login" for="first name">Fist name:</label>
            <input class="input-login" type="text" id="accountFirstName" name="account_firstname" required value="<%= locals.account_firstname %>">

            <label class="label-login" for="password">Last Name:</label>
            <input class="input-login" type="text" id="accountLastName" name="account_lastname" required value="<%= locals.account_lastname %>">

            <label class="label-login" for="email">E-mail:</label>
            <input class="input-login" type="email" id="accountEmail" name="account_email" required value="<%= locals.account_email %>">

            <label class="label-login" for="password">Senha:</label>
            <input class="input-login" type="password" id="accountPassword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

            <ul> 
                <p>Passwords must be:</p>
                <li>Minimum of 12 characters</li>
                <li>Inlcude 1 capital letter</li>
                <li>1 number</li>
                <li>1 special character</li>
            </ul>

            <button id="showPass" class="show-password-btn" type="button">Show password</button>

            <input class="input-submit-login" type="submit" value="Register">
        </form>
    </section>

    <script src="/js/show-password.js"></script>