<% if (title) { %>
<h1 class="title-h1"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<section class="new-vehicle-container">
    <form action="/inv/edit" method="post">
        <p><i>All Fields are required</i></p>
        
        <label for="classification_name" class="vehicle-lbl">Classification</label>
        <%- classificationSelect %>

        <!-- Make -->
        <label for="inv_make" class="vehicle-lbl">Make</label>
        <input class="vehicle-text" type="text" id="inv_make" name="inv_make" required pattern="^(?=.{3,})[a-zA-Z]+( [a-zA-Z]+)*$" placeholder="Min of 3 characters" value="<%= locals.inv_make %>">

        <!-- Model -->
        <label for="inv_model" class="vehicle-lbl">Model</label>
        <input class="vehicle-text" type="text" id="inv_model" name="inv_model" required pattern="^(?=.{3,})[a-zA-Z0-9]+( [a-zA-Z0-9]+)*$" placeholder="Min of 3 characters" value="<%= locals.inv_model %>">

        <!-- Description -->
         <label for="inv_description" class="vehicle-lbl">Description</label>
         <textarea name="inv_description" id="inv_description"><%= locals.inv_description %></textarea>

        <!-- Image path -->
        <label for="inv_image" class="vehicle-lbl">Image path</label>
        <input type="text" id="inv_image" class="vehicle-text" name="inv_image" required value="<%= locals.inv_image %>">

        <!-- thumbnail path -->
        <label for="inv_thumbnail" class="vehicle-lbl">Thumbnail Path</label>
        <input type="text" class="vehicle-text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>">

        <!-- Price -->
        <label for="inv_price" class="vehicle-lbl">Price</label>
        <input type="text" class="vehicle-text" id="inv_price" name="inv_price" required pattern="^\d+(\.\d{1,2})?$" value="<%= locals.inv_price %>">

        <!-- Year -->
        <label for="inv_year" class="vehicle-lbl">Year</label>
        <input type="text" class="vehicle-text" name="inv_year" id="inv_year" required pattern="^\d{4}$" value="<%= locals.inv_year %>">

        <!-- Miles -->
        <label for="inv_miles" class="vehicle-lbl">Miles</label>
        <input type="text" class="vehicle-text" id="inv_miles" name="inv_miles" required pattern="^\d+$" value="<%= locals.inv_miles %>">

        <!-- Color -->
        <label for="inv_color" class="vehicle-lbl">Color</label>
        <input type="text" class="vehicle-text" id="inv_color" name="inv_color" required pattern="^[A-Za-z]+( [A-Za-z]+)?$" value="<%= locals.inv_color %>">

        <!-- Submit button -->
        <input type="submit" class="submit-vehicle" value="Update Vehicle">

        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </form>
</section>